@{
    ViewData["Title"] = "Home Page";
}
<h1>FHIR Demonstration Client</h1>

<div>
<p>This is a simple FHIR client, which can be used to demonstrate interaction with a FHIR server.</p>
</div>

<div style="text-align: center;">
</div>